
:root {
  --background-100: #0a0a0a;
  --background-200: #000;

  --gray-100: hsl(0, 0%, 10%);
  --gray-200: hsl(0, 0%, 12%);
  --gray-300: hsl(0, 0%, 16%);
  --gray-400: hsl(0, 0%, 18%);
  --gray-500: hsl(0, 0%, 27%);
  --gray-600: hsl(0, 0%, 53%);
  --gray-700: hsl(0, 0%, 56%);
  --gray-800: hsl(0, 0%, 49%);
  --gray-900: hsl(0, 0%, 63%);
  --gray-1000: hsl(0, 0%, 93%);

  --grayAlpha-100: hsla(0, 0%, 100%, 0.06);
  --grayAlpha-200: hsla(0, 0%, 100%, 0.09);
  --grayAlpha-300: hsla(0, 0%, 100%, 0.13);
  --grayAlpha-400: hsla(0, 0%, 100%, 0.14);
  --grayAlpha-500: hsla(0, 0%, 100%, 0.24);
  --grayAlpha-600: hsla(0, 0%, 100%, 0.51);
  --grayAlpha-700: hsla(0, 0%, 100%, 0.54);
  --grayAlpha-800: hsla(0, 0%, 100%, 0.47);
  --grayAlpha-900: hsla(0, 0%, 100%, 0.61);
  --grayAlpha-1000: hsla(0, 0%, 100%, 0.92);

  --blue-100: hsl(216, 50%, 12%);
  --blue-200: hsl(214, 59%, 15%);
  --blue-300: hsl(213, 71%, 20%);
  --blue-400: hsl(212, 78%, 23%);
  --blue-500: hsl(211, 86%, 27%);
  --blue-600: hsl(206, 100%, 50%);
  --blue-700: hsl(212, 100%, 48%);
  --blue-800: hsl(212, 100%, 41%);
  --blue-900: hsl(210, 100%, 66%);
  --blue-1000: hsl(206, 100%, 96%);

  --red-100: hsl(357, 37%, 12%);
  --red-200: hsl(357, 46%, 16%);
  --red-300: hsl(356, 54%, 22%);
  --red-400: hsl(357, 55%, 26%);
  --red-500: hsl(357, 60%, 32%);
  --red-600: hsl(358, 75%, 59%);
  --red-700: hsl(358, 75%, 59%);
  --red-800: hsl(358, 69%, 52%);
  --red-900: hsl(358, 100%, 69%);
  --red-1000: hsl(353, 90%, 96%);

  --amber-100: hsl(35, 100%, 8%);
  --amber-200: hsl(32, 100%, 10%);
  --amber-300: hsl(33, 100%, 15%);
  --amber-400: hsl(35, 100%, 17%);
  --amber-500: hsl(35, 91%, 22%);
  --amber-600: hsl(39, 85%, 49%);
  --amber-700: hsl(39, 100%, 57%);
  --amber-800: hsl(35, 100%, 52%);
  --amber-900: hsl(35, 100%, 52%);
  --amber-1000: hsl(40, 94%, 93%);

  --green-100: hsl(136, 50%, 9%);
  --green-200: hsl(137, 50%, 12%);
  --green-300: hsl(136, 50%, 14%);
  --green-400: hsl(135, 70%, 16%);
  --green-500: hsl(136, 69%, 22%);
  --green-600: hsl(136, 92%, 50%);
  --green-700: hsl(136, 100%, 54%);
  --green-800: hsl(134, 100%, 49%);
  --green-900: hsl(136, 100%, 73%);
  --green-1000: hsl(136, 100%, 96%);

  --cyan-100: hsl(192, 100%, 8%);
  --cyan-200: hsl(187, 100%, 9%);
  --cyan-300: hsl(187, 100%, 14%);
  --cyan-400: hsl(189, 100%, 17%);
  --cyan-500: hsl(192, 100%, 25%);
  --cyan-600: hsl(187, 100%, 39%);
  --cyan-700: hsl(190, 100%, 50%);
  --cyan-800: hsl(193, 100%, 48%);
  --cyan-900: hsl(195, 100%, 67%);
  --cyan-1000: hsl(200, 100%, 96%);
}
